.greyRow::before {
    box-sizing: border-box;
    display: table;
    content: " ";
}
.greyRow {
    background-color: lightgrey;
    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    padding: 65px 10px;
}
.greyRow::after {
    display: table;
    content: " ";
    box-sizing: border-box;
    clear: both;

}
.whiteRow::before {
    box-sizing: border-box;
    display: table;
    content: " ";
}
.whiteRow::after {
    display: table;
    content: " ";
    box-sizing: border-box;
    clear: both;

}
.whiteRow {
    padding: 65px 10px;
}

.rowImage {
    margin-right: -15px;
    margin-left: -15px;
}

.rowText {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.imgContainer {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: 'left';
    width: 100%;
}

.mainImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;

}


.section {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
    background-color: #549657;
    color: white;
    box-shadow: 0px 2px 5px 1px darkgrey;
}

img {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

h1, h2, h3, h4, h5 {
    color: #4A4E69 !important;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.1;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #337ab7;
    text-decoration: none;
}



p {
    color: #4A4E69;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0 0 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div {
    display: block;
}


* {
    box-sizing: border-box;
}